YVA_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiI5NmFhNDNjODIyMzUwYzc2NWZkMTc3Zjk1ZWJjNTU3NSIsImV4cCI6MTc4MDg2Nzk0NiwiaWF0IjoxNzgwMDAzOTQ2LCJzdWIiOiI2NTI5MzIzMCJ9.fC6cZLmnonqGe4-zHAWJxWO1x7HJm7mnMQVmKia0qyU
PORT=8080